@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

html, body {
    height: 100vh;
    width: 100vw;
}

input:focus {
    outline: none;
}

:root {
    --background-primary: #1f1f1f;
    --background-secondary: #f2f2f2;

    --color-primary: #242424;

    --text-primary: #dddddd;
    --text-secondary: #3e3e3e;

    --border-primary: #5a5a5a;
    
    --placeholder-primary: #888888;
}

.page-wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: var(--background-primary);
}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.container {
    height: 100%;
    width: 100%;

    background-color: var(--color-primary);

    transition: all;
    animation: 300ms;
}

.container > header {
    height: max-content;
    width: 100%;
}

.container > header > div {
    height: 100%;
    width: 100%;

    padding: 2rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container > header > div input {
    height: 2.5rem;
    width: 75%;

    padding: 1rem;

    border: none;
    border-radius: 2rem;

    font-size: 1rem;

    background: var(--background-secondary);
    color: var(--text-secondary);
}

.container > header > div input::placeholder {
    color: var(--placeholder-primary);
}

.container > header > div #search-button {
    height: 2.5rem;
    width: 2.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 4rem;

    background: var(--background-secondary);
}

.container .app {
    height: max-content;
    width: 100%;
}

.container .app main {
    height: 100%;
    width: 100%;
}

.container .app main header {
    height: max-content;
    width: 100%;

    padding: 2rem 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .app main header h1 {
    font-size: 2rem;
    font-weight: bold;

    color: var(--text-primary);
}

.container .app main div .user-presentation {
    height: max-content;
    width: 100%;

    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.container .app main div #user-profile-picture {
    height: 12.5rem;
    width: 12.5rem;

    border: 2px solid var(--border-primary);
    border-radius: 50%;

    box-shadow: -1px 3px 17px 0px #424242a6;
    -webkit-box-shadow: -1px 3px 17px 0px #424242a6;
    -moz-box-shadow: -1px 3px 17px 0px #424242a6;
}

.container .app main div #user-username {
    font-size: 1.2rem;
    font-weight: 500;

    line-height: 1.6;
    letter-spacing: 0.8pt;

    color: var(--text-primary);
}

.container .app .user-data {
    max-height: 20rem;
    overflow-y: auto;

    margin: 1rem;
    padding: 1rem;

    border: none;
    border-radius: 1rem;

    background: #2a2a2a;
    color: var(--text-primary);
}

.container .app .user-data ul {
    height: max-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;

    color: var(--text-primary);
}

.container .app .user-data ul li {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: .25rem;
}

.container .app .user-data ul li span {
    font-size: 1.2rem;
    font-weight: bold;    

    color: var(--text-primary);
}

.container .app .user-data ul li p {
    text-align: justify;

    line-height: 1.6;
}

.container .app #user-profile-link-button-container {
    height: 100%;
    width: 100%;

    padding: 1rem;
}

.container .app #user-profile-link-button-container button {
    width: 100%;

    padding: .25rem;

    border: none;
    border-radius: .5rem;
}

.container .app #user-profile-link-button-container button a {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: .2rem;

    font-size: 1rem;
}

.container .app #user-profile-link-button-container button a img {
    height: 1.5rem;
    width: 1.5rem;
}


@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {

}
