@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: #333333;
    font-family: "Montserrat", "Roboto", "Poppins", sans-serif;
    margin: 0 auto;
    width: 940px;
}


html {
    scroll-behavior: smooth;
}

:root {
    --black-500: #333333;
    --gray-200: #cccccc;
    --white-200: #f2eded;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

h2 {
    border-bottom: 2px groove var(--black-500);
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
}

figure {
    background-color: var(--white-200);
    border: 1px solid var(--gray-200);
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}